<%= form_for @movie, html: { id: 'movie-form', class: 'flix-form flix-submit'} do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title, id: 'flix-movie-title', class: 'flix-form-field' %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description, cols: 60, rows: 10 %>
	</p>
	<p>
		<%= f.label :has_subtitles %>
		<%= f.check_box :has_subtitles %>
	</p>
	<p>
		<%= f.label :placement %>
		<%= f.radio_button :placement, 'in_theaters' %> In Theaters
		<%= f.label :placement_in_theaters, "In Theaters" %>
		<%= f.radio_button :placement, 'coming_soon' %> Coming Soon
		<%= f.label :placement_coming_soon, "Comign Soon" %>
		<%= f.radio_button :placement, 'go_now' %> Go Now
		<%= f.label :placement_go_nows, "Go Now" %>
	</p>
	<p>
		<% mpaa_ratings = options_for_select([ ["G", "G"], ["PG", "PG"], ["R","R"], ["Not Rated", "NR"] ], selected: @movie.mpaa_rating) %>
		<%= f.label :mpaa_rating, "MPAA Rating"%>
		<%= f.select :mpaa_rating, mpaa_ratings, include_blank: true %>
	</p>
	<p>
		<%= f.label :release_date %>
		<%= f.date_select :release_date, order: [:month, :day, :year] %>
	</p>
	<p>
		<%= f.label :ticket_price %>
		<%= f.text_field :ticket_price %>
	</p>
	<p>
		<%= f.label :runtime %>
		<%= f.text_field :runtime %>
	</p>
	<p>
		<%= f.label :poster_image %>
		<%= f.text_field :poster_image %>
		<br />
		Plese enter the filename of the poster image for this movie.
	</p>
	<p>
		<%= f.submit %>
	</p>

<% end %>
